/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  width: 200px;
  height: 35px;
  margin: 50px 20px 20px 50px;
  padding: 500px 500px 500px 500x;
  border: 1px solid red;
}
